<html>
    <head>
        <title>Home Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <style>
        body {
            font-family: 'Source Code Pro', monospace;
            background-color: #f5f5f5;
        }
        .user--container{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(181, 139, 139);
            padding: 5px;
            transition: all ease 0.3s;
            border-radius: 7px;
            border: 2px solid rgb(255, 0, 0); 
            box-shadow: 0px 0px 8px rgb(255, 0, 0);
        }
        .user--container:hover{
            background-color: #f0f0f0;
            border: 2px solid rgb(0, 0, 255); 
            box-shadow: 0px 0px 1px rgb(0, 0, 255);
            opacity: 0.8;
        }
        p{
            margin: 3px;
        }
    </style>
    <body>
        {{>partials/header}}
        <hr>
        <ul>
            <h2>Produtos</h2>
            {{#products}}
                <li>{{ title }} - R$ {{price}},00</li>
            {{/products}}
        </ul>
        <ul>
            <h2>Daily phrases</h2>
            {{#simpleList}}
                <li>{{.}}</li>
            {{/simpleList}}
            {{^simpleList}}
                <li>Não há frases para mostrar</li>
            {{/simpleList}}
        </ul>
        {{>partials/footer}}
