<html>
    <head>
        <title>Home Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <style>
        body {
            font-family: 'Source Code Pro', monospace;
        }
        .user--container{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: azure;
            padding: 5px;
            transition: all ease 0.3s;
            border-radius: 7px;
        }
        .user--container:hover{
            background-color: #f0f0f0;
        }
    </style>
    <body style="font-family: 'Source Code Pro', monospace;;">
        <div style="display: flex; justify-content: space-between; align-items: baseline;">
            <h1>Home Page</h1>
            <div class="user--container">
                <p>{{ user.name }}</p>
                <div style="clip-path: circle(); width: 80px;">
                    <img src={{ user.profile_pic }} alt="">
                </div>
            </div>
        </div>
        <button>Teste</button>
    </body>
</html